<div class="row">
  <form class="col s12">

    <H5>LOGIN</H5>

    <div class="row">
      <div class="input-field">
        <input   id="Login" name="Login" type="text" class="validate" [(ngModel)]="usuario.nome">
        <label for="Login" class="active">Login</label>
        <span class="helper-text" data-error="Incorreto" data-success="Correto">Digite seu login</span>
      </div>
    </div>  

    <div class="row">
      <div class="input-field">
        <input id="Senha" name="Senha" type="password" class="validate" [(ngModel)]="usuario.senha">
        <label for="Senha" class="active">Senha</label> 
        <span class="helper-text" data-error="Incorreto" data-success="Correto">Digite sua senha</span>
      </div>
    </div> 
    
    <div class="row">
      <button class="waves-effect waves-light btn" (click)="fazerLogin()"><i class="material-icons right">send</i>Logar</button>
    </div>

  </form>
</div>